$main-color: #878496;
$second-color: #201c22;
$header-text-color: #fff;
$nav-color: $main-color;
$text-color: #333;
$link-color: #fff;
$link-hover-color: blue;
$section1-color: #2a5;
$section2-color: #000;
$section3-color: #000;